<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Signup GC</title>
  <link rel="icon" type="image/png" href="../img/gc.ico">
  <link rel="stylesheet" href="../css/style.css">



</head>
<body>
<div id="bg"></div>
<form action="../php/signup.php" method="POST">


<h1 style="text-align: center;color: #fff;">Registro</h1>


<div class="form-field">

<input type="text" id="user" name="user" placeholder="Ingrese su usuario" autocomplete="off" required/>
</div>

<div class="form-field">
<input type="password" id="pass" name="pass" placeholder="Ingrese su contraseña" autocomplete="off" required/>
</div>

<div class="form-field">
<input type="password" id="pass2" name="pass2"  placeholder="Confirme su contraseña" autocomplete="off" required/>
</div>
 


<div class="form-field">
<button class="btn" type="submit" value="Submit">Crear cuenta</button>
</div>

<div class="form-field">
<a class="btn" style="text-decoration: none;" href="../index.html">Ingresar con cuenta</a>
</div>

</form>

</body>
</html>